.pill {
  border: 2px solid #afafaf6f;
  border-radius: 200px;
  padding: .4rem 1rem;
  transition: border 0.4s ease;
}

.pill:hover {
  border: 2px solid #fff;
}

.linkunderline {
  position: relative;
}

.linkunderline::after {
  position: absolute;
  content: '';
  left: 50%;
  bottom: -4px;
  height: 1.5px;
  width: 0%;
  background-color: red;
  transition: width 0.4s ease;
  transform: translateX(-50%);
}

.linkunderline:hover::after {
  width: 80%;
}